# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/

# Log files
*.log
PathRAG.log

# Cache files
content_repository/**
working_repository/**

# Temporary files
*.xlsx
*.csv